a, button, input[type='submit']
  outline: none

.hidden
  display: none

ul.nav-bar
  list-style: none
  margin: 0px

  li
    margin: 2em 0

  #subscriptions
    h5
      font-size: 0.8em

    ul.small
      list-style: none
      margin: 0.3em

      li
        margin: 0.3em

      li.subscription-title
        font-weight: bold
        font-size: 0.7em

        a
          outline: none

ul#feed-items
  list-style: none

  li
    border-bottom: dotted 1px black
    padding-bottom: 3em
